/.vs
/.vscode
/TC0000.SWP
/TC0001.SWP
/TC0002.SWP
/TC0003.SWP
/TC0004.SWP
/TC0005.SWP
/TC0006.SWP
/TC0007.SWP
/TC0008.SWP
/TC0009.SWP
/APP77.OBJ
/EVENT77.OBJ
/SCHEDA~1.OBJ
/SMARTS77.OBJ
/EXTERN77.OBJ
/TAR.DSK
/TAR1.EXE
/TAR1.PRJ
/TAR1.DSK
/TC0010.SWP
/TC0011.SWP
